<%= form_for @link do |f| %>
	<div id="modal1" class="modal" style="overflow: visible;">
		<div class="modal-content">
			<i class="material-icons" style="float: left; margin-right: 20px;">mode_edit</i>
			<h5>Add link</h5>
			<div class="row">
				<div class="input-field col s8">
					<%= f.text_field(:link, :class => 'validate', :id => 'icon_prefix', :type => 'text') %>
					<label for="icon_prefix">Paste your link here..</label>
				</div>
				<div class="input-field col s4">
					<%= f.collection_select(:category_id, Category.where(:user_id => current_user.id), :id, :categoryName, :prompt => 'Category')  %>
				</div>
				
				 <%= f.hidden_field :user_id, :value => current_user.id %>
			</div>
		</div>
		<div class="modal-footer">
			<%= f.submit('Save', :class => 'waves-effect waves-light btn-flat modal-close') %>
			<a class="waves-effect waves-light btn-flat modal-action modal-close">Cancel</a>
		</div>
	</div>
<% end %>